body{
  background: #e6fff5;
  margin:0;
  font-size: 1rem;
}
#main{
  max-width: 80em;
  padding: 2em;
  margin: 0 auto;
  border-radius: 4em;
  background: linear-gradient(145deg,
  #e6fff5,
  #c2d6ce);
  box-shadow: 2em 2em 4em
  #b7cac3, -2em -2em 4em rgb(221, 245, 235);
}
