<!doctype html>
<!-- Orriginal theme by https://github.com/jonrohan/time-machine-theme/blob/master/page.mustache -->
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

  <link rel="stylesheet" href="{{asset_path_prefix}}stylesheets/stylesheet.css" media="screen"/>
  <link rel="stylesheet" href="{{asset_path_prefix}}stylesheets/pygment_trac.css"/>
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
  <script type="text/javascript" src="{{asset_path_prefix}}javascripts/script.js"></script>

  <title>{{project_title}}</title>
  <meta name="description" content="{{project_tagline}}">

  <meta name="viewport" content="width=device-width,initial-scale=1">
</head>

<body>

  <div class="wrapper">
    <header>
      <h1 class="title">{{project_title}}</h1>
      <img src="../images/logo.svg">
    </header>
    <div id="container">
      <p class="tagline">{{project_tagline}}</p>
      <div id="main" role="main">
        <div class="download-bar">
        <div class="inner">
          {{#show_downloads?}}
          <a href="{{tar_url}}" class="download-button tar"><span>Download</span></a>
          <a href="{{zip_url}}" class="download-button zip"><span>Download</span></a>
          {{/show_downloads?}}
          <a href="{{github_url}}" class="code">View {{project_title}} on GitHub</a>
        </div>
        <span class="blc"></span><span class="trc"></span>
        </div>
        <article class="markdown-body">
          {{{main_content}}}
        </article>
      </div>
    </div>
    <footer>
      FOOTER
    </footer>
  </div>
  <div class="current-section">
    <a href="#top">Scroll to top</a>
    <a href="{{tar_url}}" class="tar">tar</a><a href="{{zip_url}}" class="zip">zip</a><a href="" class="code">source code</a>
    <p class="name"></p>
  </div>

  {{{google_analytics}}}
</body>
</html>
